
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="5"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a blog title, must contain above 5 chars.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        minlength="10"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please write something in your blog first, must contain above 10 chars</mat-error>
     
    </mat-form-field>   
    <button
      mat-raised-button
      color="warn"
      type="submit"
      class="buttons"
      [disabled]="content.invalid || title.invalid"
      >Upload to blog</button> 
  </form>
</mat-card>
